@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;700&display=swap');

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2em;
    color: #666666
}
p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #666666;
}
body {
    margin-top: 5.5em;
    background: linear-gradient(180deg, #f2f5f6 0%,#e3eaed 50%);
}
header {
    background: linear-gradient(to right, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerText {
    margin-left: 0.3rem;
}
.mainContainer {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}
.bi {
    color: #666666;
    font-size: 2.5em;
    cursor: pointer;
}
.bi-list {
    color: #666666;
    font-size: 2.5em;
    margin: 0.3em;
    cursor: pointer;
}
.bi-list:hover {
    color: #fff;
}
.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0.5em;
}
.navbar li {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    width: 4em;
    text-align: center;
    height: 2em;
    line-height: 2em;
    border: #666666 solid 1px;
    border-radius: 0.3em;
    padding: 0.1em;
    transition: all 0.2s ease-in-out;
    background-color: #e3eaed;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
.navbar li:hover {
    background-color: #666666;
    border: #f2f5f6 solid 1px;
    color: #f2f5f6;
    transform: scale(1.1);
    cursor: pointer;
}
.navbar li > .bi {
    font-size: 1.5em;
}
.navbar li:hover .bi {
    color: #ffffff;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #444444;
}
.content {
    margin: 1.5em 1.5em 1.5em 0.5em;
}
.card {
    background-color: #e3eaed;
    border: #ffffff solid 0.1rem;
    border-radius: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0.1em 0em 0.1em 1em;
    margin: 2em 0em;
}
.card h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    color: #666666;
    margin: 0.5em 0em 0.1em 0em;
}
p {
    font-size: 1em;
}
.card-header {
    background: linear-gradient(to right, #e3eaed 37%,#c8d7dc 100%);
    border-bottom: #c8d7dc solid 0.1rem;
    border-radius: 0.5em 0.5em 0em 0em;
    padding: 0.5em 1em;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.audio-card {
    display: flex;
    align-items: center;
    margin: .1em 0em;
    margin-right: 0.5em;
    padding: 0.5em 0em;
    border-bottom: #c8d7dc solid 0.1rem;
    position: relative;
}
.audio-card:last-child {
    border-bottom: none;
}

.audio-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    position: relative;
}
.lesson-avatar {
    width: 5em;
    height: 5em;
    border: #c8d7dc solid 1px;
    border-radius: 50%;
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(1, 1, 1, .25);
}


.audio-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 0em 0em 0.3em;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    color: #666666;
    margin: 0em;
}
.audio-description > p {
    font-family: 'Noto Sans', sans-serif;
    font-size: .9em;
    font-weight: 400;
    color: #666666;
    margin: 0.5em 0em;
}
.lesson-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.audio-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0em 0.5em;
}
.audio-info>em {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #666666;
    margin: 0em 0.3em;
}
.audio-info>sub {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 400;
    color: #666666;
}

.controls {
    position: absolute;
    top: -0.4em;
    right: -0em;
    /* background-color: rgba(0, 0, 0, .3); */
    padding: 0.0em;
    border-radius: 0.3em;
}
.controls > button {
    border: 0;
    background: transparent;
    padding: 0;
}
.controls > button > .bi {
    font-size: 7em;
    color: #e3eaed;
    cursor: pointer;
}
